
body{
  max-width: 1200px;
}

form {
  display: flex;
  background-color: rgb(15, 161, 64);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 10px;
}

label {
  margin-left: 40px;
}

.input {
  margin-left: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 700%;
  width: 700%;
}
button{
  margin-right: 20px;
}