
.header {
  display: flex;
  background-color: bisque;
  flex-wrap: wrap;
  justify-content: space-between;
}

form {
  display: flex;
  background-color: rgb(15, 161, 64);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 10px;
}

.inputs {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  font-size: 100%;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: rgb(67, 110, 76);
  color: #FFF;
  width: 100%;
  height: 100px;	
  text-align: center;
  line-height: 100px;
  justify-content: space-evenly;
}

.icon {
  size: 100px;
}
